{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Atualizar empresa</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
  
    <!-- Campo de sócios -->
    <div class="form-group">
      <h2>Sócios</h2>
      {{ socios.management_form }}
      {% for socio in socios.forms %}
        {% crispy socio %}
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-block btn-primary">Salvar</button>
  </form>

{% endblock %}
